* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:#fff;
}

body {
    background-image: url("background-log-in.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    /* Font details */
    height: 100vh;
    overflow: hidden;
    position:relative;
}
body::before{
    content: '';
    height:100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    background-color:rgba(0, 0, 0, 0.49);
    z-index:-1;
}

.backgroundHolder{
    padding-top:194px;
    max-height: 100%;
    overflow-y: auto;
}
.container {
    max-width: 300px;
    width: 100%;
    margin: 0 auto 100px auto;

    /* max-height: calc(100vh - 142px); */
    overflow: auto;
}

.container h1,
.container h3 {
    text-align: center;
}

.container h1 {
    margin-bottom: 45px;
}

.container h3 {
    margin-bottom: 25px;
}

.container form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container form input {
    border-radius: 20px;
    font-size: 18px;
    border: none;
    outline: none;
    margin-bottom: 10px;
    padding: 10px 17px;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.container form input::placeholder {
    color: #e8e8e8;

}

.myBtn {
    font-size: 14px;
    border: none;
    outline: none;
    padding: 10px 5px;
    border-radius: 20px;
    cursor: pointer;
}

.loginSubmitButton {
    background-color: rgb(251, 205, 181);
}

.loginSubmitButton:hover {
    background-color: rgb(255, 167, 119);
}

/* Forget password line */
.extraInfos {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: 10px 0;
}

.extraInfos .checkboxContainer,
.extraInfos span {
    cursor: pointer;
}

.socialSignInHeading {
    text-align: center;
    margin: 20px 0;
}

.socialMediaButtons {
    display: flex;
    justify-content: space-between;
}

.socailBtns {
    border-radius: 8px;
    width: 49%;
}






/* Google font details */
.poppins-thin {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: normal;
}

.poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-light {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-bold {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: normal;
}

.poppins-extrabold {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: normal;
}

.poppins-black {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: normal;
}

.poppins-thin-italic {
    font-family: "Poppins", serif;
    font-weight: 100;
    font-style: italic;
}

.poppins-extralight-italic {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: italic;
}

.poppins-light-italic {
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: italic;
}

.poppins-regular-italic {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: italic;
}

.poppins-medium-italic {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: italic;
}

.poppins-semibold-italic {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: italic;
}

.poppins-bold-italic {
    font-family: "Poppins", serif;
    font-weight: 700;
    font-style: italic;
}

.poppins-extrabold-italic {
    font-family: "Poppins", serif;
    font-weight: 800;
    font-style: italic;
}

.poppins-black-italic {
    font-family: "Poppins", serif;
    font-weight: 900;
    font-style: italic;
}